

<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ashion Template" />
    <meta name="keywords" content="Ashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Zazzle</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="/magiczoomplus/magiczoomplus.css" type="text/css">
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="js/main.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </head>

  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-2">
          <div class="header__logo">
            <a href="/home"><img src="/img/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <nav class="header__menu">
            <ul class="menuList">
              <li class="menu-front"><a href="/home">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li class="menu-front"><a href="/product-details">Product Details</a></li>
                  <li class="menu-front"><a href="/shop-cart">Shop Cart</a></li>
                  <li class="menu-front"><a href="./checkout">Checkout</a></li>
                  <li class="menu-front"><a href="./blog-details">Blog Details</a></li>
                  <li class="menu-front"><a href="/profile">Profile</a></li>
                </ul>
              </li>
              <li><a href="/blog">Blog</a></li>
              <!-- <li><a href="#">About us</a></li> -->
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3">
          <div class="header__right">
            <div class="header__right__auth">
              <% var username=username || '' ; %> 
              <% if (username) { %>
              <a href="/profile"><span class="text-dark font-weight-bold text-center mr-3">
                <%= username %></a> 
              </span>
              <a href="/logout">Logout</a>
              <% }else{%>
              <a href="/login">Login</a>
              <a href="/signup">Sign up</a>
                  <% } %>
            </div>
            <ul class="header__right__widget">
              <li><span class="icon_search search-switch"></span></li>
              <li>
                <a href="/wishlist"
                  ><span class="icon_heart_alt">   </span>
                  <% if(username && wishListCount) {%>
                    <div class="tip"> 
                    <span class="wishlist-count" id="wishListCount">
                        <%= wishListCount %>
                    </span> 
                    </div>
                    <% } %>
                </a>
            
              
              </li>
              <li>
                              
                                        
                        

            
                <a href="/shop-cart"
                  ><span class="icon_bag_alt"></span>
                  <% if (username && cartCount) { %>
                  <div class="tip">
                    
                      <span class="wishlist-count" id="wishListCount">
                          <%= cartCount %>
                      </span>  
                  </div>
                  <% } %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="canvas__open">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </header>
</html>


